<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Luckiest+Guy&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.1/dist/css/splide.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
  </head>
  <body>
    <header class="header header-dropdown">
      <nav class="dropdown category-nav">
          <button class="btn nav-dropdown-button dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
              ACME Corporation
          </button>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
              <li><a class="dropdown-item" href="/">Home</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/anvils">Anvils</a></li>
              <li><a class="dropdown-item" href="/encabulators">Encabulators</a></li>
              <li><a class="dropdown-item" href="/leisure">Leisure</a></li>
              <li><a class="dropdown-item" href="/miracle remedies">Miracle Remedies</a></li>
          </ul>
      </nav>
    </header>
