<%- include('../partials/header'); %>
<main class="main">
  <section class="main-section about-box">
    <p>
      <span class="about-heading">Here at ACME Corp. we believe in excellence!</span> Since 1920 we have remained commited to the highest quality widgets.
      Our anvils, explosive encabulators and other scientfic gizmos will be delivered to your door. Customer satisfaction is guaranteed!
    </p>
  </section>
  <section class="main-section top-picks-box">
    <h2 class="section-header">Top Picks</h2>

    <!-- Carousel -->
    <section class="splide" aria-label="List of top products">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <div class="slider-box">
              Slide 01
            </div>
          </li>
          <li class="splide__slide">
            <div class="slider-box">
              Slide 02
            </div>
          </li>
          <li class="splide__slide">
            <div class="slider-box">
              Slide 03
            </div>
          </li>
          <li class="splide__slide">
            <div class="slider-box">
              Slide 04
            </div>
          </li>
          <li class="splide__slide">
            <div class="slider-box">
              Slide 05
            </div>
          </li>
        </ul>
      </div>
    </section>

  </section>
</main>
<%- include('../partials/footer'); %>
