<%- include('../partials/header'); %>
<main class="main">
    <section class="main-section item-content">
        <div class="item-description">
            <h2 class="section-header">Product Page</h2>
            <div class="item-info-box">
                Amet elit quisquam temporibus totam voluptas animi Nisi repudiandae velit
                numquam magnam esse maiores Numquam aperiam earum eum ea dolorum voluptates.
                Praesentium harum temporibus nemo officiis repellat! Molestias vitae at
                est vel iste! Sint debitis quos excepturi nam esse Laboriosam ad incidunt
                cupiditate alias pariatur quos Atque odio nam odio!
            </div>
        </div>
        <img class="img-fluid single-item-img" src="https://via.placeholder.com/1024x768" alt="placeholder">
    </section>
    <section class="checkout-button-section">
        <button class="btn checkout-button">Add to Checkout</button>
    </section>
</main>
<%- include('../partials/footer'); %>
